<!DOCTYPE html>
<html>
<head>
    <title>Agendar Cita</title>
    <script>
        function actualizarHorasDisponibles() {
            var psicologoId = document.getElementById('psicologo').value;
            var fecha = document.getElementById('fecha').value;
            window.location.href = "?psicologo=" + psicologoId + "&fecha=" + fecha;
        }
    </script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/paciente_styles.css' %}">
</head>
<body>

    {% if messages %} 
        <ul class="messages"> 
            {% for message in messages %} 
                <li class="{{ message.tags }}">{{ message }}</li> 
            {% endfor %} 
        </ul> 
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <label for="psicologo">Elige un Psicólogo:</label>
        <select id="psicologo" name="psicologo" onchange="actualizarHorasDisponibles()" required>
            <option value="">--Seleccione--</option>
            {% for psicologo in psicologos %}
                <option value="{{ psicologo.id }}" {% if psicologo.id|stringformat:"s" == psicologo_seleccionado %}selected{% endif %}>
                    {{ psicologo.nombre }}
                </option>
            {% endfor %}
        </select><br>

        {{ form.as_p }}

        <label for="contacto">Contacto (Teléfono o Email):</label>
        <input type="text" id="contacto" name="contacto" required><br>

        <label for="modalidad">Modalidad:</label>
        <select id="modalidad" name="modalidad">
            <option value="Presencial">Presencial</option>
            <option value="Virtual">Virtual</option>
        </select><br>

        <button type="submit">Agendar Cita</button>
    </form>
    <a href="{% url 'consultar_cita' %}">Consultar, Modificar o Eliminar Cita</a>
</body>
</html>
