<!DOCTYPE html>
<html>
<head>
    <title>Interfaz Psicólogo</title>
</head>
<body>
    <h1>Seleccione su psicólogo:</h1>
    <form method="get">
        <select name="psicologo" id="psicologo">
            {% for psicologo in psicologos %}
                <option value="{{ psicologo.id }}" {% if psicologo_seleccionado and psicologo.id == psicologo_seleccionado.id %}selected{% endif %}>{{ psicologo.nombre }}</option>
            {% endfor %}
        </select>
        <button type="submit">Cargar Citas</button>
    </form>
    <h2>Citas:</h2>
    <ul>
        {% for cita in citas %}
            <li>{{ cita.fecha }} {{ cita.hora }}: {{ cita.paciente }}</li>
        {% endfor %}
    </ul>
    <a href="{% url 'menu_principal' %}">Volver</a>
</body>
</html>
