body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.menu-principal {
    background-image: url("fondo.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    color: white;
}

.menu-principal::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.contenido-central {
    position: relative;
    z-index: 2;
}

.contenido-central h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
}

.contenido-central h2 {
    font-size: 1.5em;
    margin-bottom: 1em;
}

.btn-reserva, .btn-psicologo {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    background-color: limegreen;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.btn-psicologo {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2;
}

.btn-reserva:hover, .btn-psicologo:hover {
    background-color: darkgreen;
}
